-var titulo = "Titulo Principal"
-var subtitulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var lorem =  "Lorem ipsum dolor sit amet consectetur  adipisicing elit. Consectetur dicta sunt  fugiat tempore, ea nihil ad harum quae span Lorem ipsum dolor sit amet sigue con el texto"
-var enlaces = ["enlace a","enlace b", "enlace c"]
mixin caja(clase,imagen,titulo,contenido)
  .caja
    .caja__imagen: img(src="./images/"+imagen)
    .caja__contenido
      h3(class=clase)=titulo
      p=contenido
