include configuraciones.pug
doctype html
html(lang="en")
  //- no se especifica la carpeta porque el archivo
    actual está al mismo nivel de los otros arhivos
  include head.pug
  body 
    include nav.pug
    //- aquí se indica que, desde el bloque 
      va a llegar más información que reemplazará al bloque
    block contenidos

    include footer