extends componentes/plantilla.pug
block contenidos
  section.intro
    //- Los divs pueden ir sin el nombre del elemento
    .intro__imagen: img(src="./images/default.png")
    .intro__contenido
      h2 #{titulo}
      //- Cuando se agrega un punto luego de la etiqueta, se entiendo que el contenido de la siguiente linea corresponde al elemento
      //- puedes poner también una barra vertical | para indicar todo el texto que esté con saltos de línea, para eso, no se debe agregar el punto luego del elementor
      //- siempre indentar el contenido
      p
        | Lorem ipsum dolor sit amet consectetur 
        | adipisicing elit. Consectetur dicta sunt 
        | fugiat tempore, ea nihil ad harum quae 
        span Lorem ipsum dolor sit amet
        | sigue con el texto
      a.boton Leer más
  main.contenido
    each subtitulo in subtitulos
      +caja("primero","default.png",subtitulo, lorem)